.button {
    background-color: #fafafa; /* Green */
    border: 1px solid #f1f1f1;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

.button:hover {
  font-weight: 600;
}
