.table_experiments {
  font-size: 12px;
  border-collapse: collapse;
  color: #666666;
}

.table_experiments tr:hover {
  background-color: #f1f1f1;
}

.div_column {
  float: right;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 5px;
  margin-bottom: 3px;
  background-color: #dddddd;
  color: #666666;
}

.div_column_light {
  float: right;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 5px;
  margin-bottom: 3px;
  background-color: #fafafa;
  color: #666666;
}

.div_column_value {
  margin-bottom: 3px;
}

.exp_row {
  padding-left: 5px;
  padding-right: 5px;
  text-align:left;
  border-right: 1px solid #e1e1e1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
